.Chat {
  --Chat-inputFormHeight: 40px;
  padding-bottom: var(--Chat-inputFormHeight);
}

.Chat-messageList {
  padding: 0 12px;
}

.Chat-group {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Chat-group.mine {
  align-items: flex-end;
}

.Chat-groupAuthor {
  color: rgba(0, 0, 0, .40);
  font-size: 12px;
  padding: 0 12px;
  line-height: 1.1;
}

.Chat-groupMessages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mine .Chat-groupMessages {
  align-items: flex-end;
}

.Chat-message {
  background-color: #f1f0f0;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 1.3em;
  line-height: 1.28;
  margin: 1px 0;
  max-width: 95%;
}

.mine .Chat-message {
  background-color: var(--App-blue);
  color: white;
}

.Chat-group:not(.mine) .Chat-message {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.mine .Chat-message {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.Chat-group:not(.mine) .Chat-message:first-child {
  border-top-left-radius: 1.3em;
}

.mine .Chat-message:first-child {
  border-top-right-radius: 1.3em;
}

.Chat-group:not(.mine) .Chat-message:last-child {
  border-bottom-left-radius: 1.3em;
}

.mine .Chat-message:last-child {
  border-bottom-right-radius: 1.3em;
}

.Chat-inputForm {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  background-color: white;
  height: var(--Chat-inputFormHeight);
}

.Chat-input {
  flex-grow: 1;
  border: 0;
  font-size: 16px;
  line-height: 1.5;
  padding: calc((var(--Chat-inputFormHeight) - 26px) / 2) 0;
  padding-left: 12px;
}

.Chat-sendButton {
  border: 0;
  background: none;
  color: var(--App-blue);
  font-weight: bold;
  font-size: 16px;
  padding: 0 12px;
  height: 100%;
  cursor: pointer;
}
